/*
Colors: html - #f3f8ff
               #deecff
               #c6cfff
               #e8d3ff
*/

/* font-family: 'Roboto Slab', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Markazi Text', serif;

100% = 16px
 */



/*General elements*/

html{
  background-color: #f3f8ff;
}
body {
  margin: 0;
  text-align: center;
}

h2{
  font-family: 'Markazi Text', serif;
  font-size: 2.5rem;
}

p{
  font-family: 'Roboto Slab', serif;
  margin: none;

}

img {
  width: 250px;
  height: 250px;
}

table tr td{
  font-family: 'Roboto Slab', serif;
}
.top-container h1 {
  margin: 40px auto 0 auto;
  font-family: 'Indie Flower', cursive;
  font-size: 5.5rem; /* dinamic unit*/

}

table {
  margin: 0 auto;
}

ul {
  list-style: none;
}

hr {
  border:none;
  border-top: 10px dotted #c6cfff;
  margin: 40px auto;
  height:1%;
  width:50%;
}

a {
  color:  #000;
  font-family: Roboto Slab;
  margin: 10px 10px;
  text-decoration: none;
}

a:hover {
  color: purple;
}

/* Classes and Ids*/

.top-container {
  background-color: #f3f8ff;
  position: relative;
  margin-top: 60px;
}


.middle-container {

}

.bottom-container {

}

.top-rainbow {
  position: relative;
  margin: 0 auto;
}

.bottom-rainbow {
  position: relative;
  margin: 0 auto;
}

.bottom-container {
  padding: 10px;
  background-color: #c6cfff;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;

}

.btn {
  background: #fef5ff;
  background-image: -webkit-linear-gradient(top, #fef5ff, #c6cfff);
  background-image: -moz-linear-gradient(top, #fef5ff, #c6cfff);
  background-image: -ms-linear-gradient(top, #fef5ff, #c6cfff);
  background-image: -o-linear-gradient(top, #fef5ff, #c6cfff);
  background-image: linear-gradient(to bottom, #fef5ff, #c6cfff);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Roboto Slab;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #e671e2;
  background-image: -webkit-linear-gradient(top, #e671e2, #c334d9);
  background-image: -moz-linear-gradient(top, #e671e2, #c334d9);
  background-image: -ms-linear-gradient(top, #e671e2, #c334d9);
  background-image: -o-linear-gradient(top, #e671e2, #c334d9);
  background-image: linear-gradient(to bottom, #e671e2, #c334d9);
  text-decoration: none;
}

.copyright {
  font-size: 0.76rem;
}
